.buttons {
    display: flex;
    justify-content: space-evenly;
}

.results {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 48px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.scores {
    display: flex;
    justify-content: space-around;
    font-size: 36px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#rock, #paper, #scissors {
    background-color: transparent;
    border-color: transparent;
}
